
.DS_Store
utils/__pycache__/__init__.cpython-39.pyc
utils/__pycache__/polynomials.cpython-39.pyc
.venv 
3cycle_alignments
3cycle_evaluate_scores
3cycle_alignments_10000
3cycle_evaluate_scores_10000
3cycle_results
placeholder